
/*
Global style
*/
html {
	font-family: 'Raleway', sans-serif;
	background-color: #FFD119;
}

html a {
	color: #f7ae25;
}

body {
  width: 700px;
  margin: 0 auto;
  background-color: white;
  border: 5px solid black;
}


/*
Header style
*/
header {
	padding: 20px 20px 0px 20px;
	text-align: center;
	font-size: 60px;
}

header img {
	vertical-align: middle;
}

/*
Navigation style
*/
nav {
	padding: 20px 20px 0px 20px;
}

nav ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

nav li {
	display: inline;
}

nav li a {
	text-decoration: none;
	color: #f7ae25;
	padding: 16px;
	text-align: center;
}

nav li a.active, nav li a:hover {
	color: white;
	background-color: #f7ae25;
}

/*
Main section style
*/
main {
	padding: 20px 20px 0px 20px;
	font-size: 16px;
}


/*
Footer style
*/
footer {
	padding: 20px 20px 0px 20px;
	font-size: 12px;
}

footer #emoji-ref {
	float: right;
}
